.user {
  font-size: 1rem;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #222;
  border: 1px solid #eee;
  border-top: none;
  padding: 0.25em 1.5em;
  background-color: #fff;
  transition: all 0.25s linear;

  &:hover {
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
  }
}

.avatar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  margin-right: 1em;
}
