.header {
  @include bg-cover;
  background-position: top center;
  background-image: url('./bg.jpg');
  height: 20rem;
  position: relative;
  color: color(white);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(color(black), 0.2);
  }
}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(color(black), 0.5);
  position: relative;
  padding: 0.75rem 1rem;
  z-index: 1;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  > a {
    color: color(white);
    text-decoration: none;
    padding: 0 0.5rem;
    transition: transform 0.2s ease;

    &:hover {
      text-decoration: underline;
      transform: scale(1.25);
    }
  }
}

.copy {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 3rem 0;
}
