.header {
  @include bg-cover;
  background-position: top center;
  background-image: url('./bg.jpg');
  height: 20rem;
  position: relative;
  color: color(white);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(color(black), 0.2);
  }
}

.topNav {
  background-color: rgba(color(black), 0.5);
  position: relative;
  padding: 0.75rem 1rem;
  z-index: 1;

  > a {
    color: color(white);
    text-decoration: none;
    padding: 0 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.copy {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 3rem 0;
}
